@import url("https://fonts.googleapis.com/css?family=Inter:400,700");


.home{
  background-color: #101F3C;
}


.hero_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hero_content{
  margin-left: 6rem;
}


.nurturing-africas-talent{
 
  font-family: var(--font-family-inter);
  letter-spacing: 0;
  line-height: normal;
  min-height: 15.375;/*246px*/
  width: 35.5;/* 568px;*/
  margin-top: 4rem;
}


.rectangle{
  background-color: var(--international-orange);
  height: 82px;
  width: 214px;
}


.title{
  letter-spacing: 0;
  line-height: normal;
  min-height: 82px;
  transform: rotate(4deg); 
}


.value_proposition{
  letter-spacing: 0;
  line-height: 43.7px;
  min-height: 13.75rem; /*220px;*/
  width: 36.563rem; /*585px;*/
  margin-top: 4rem;
}


.hero_image{
  object-fit: cover;
  width: 47.5rem; /*680px*/
  left: 62.688px; /*1003px;*/
  top: -18px;
}

.rectangle-4{
   background-color: #0e2145;
     /* height: 581px; */
     left: 0;
     position:absolute;
     width: 100%;
     z-index: -1;
     display: grid;
     grid-template-columns: 30% 33% 23%;

}

.more_info{
   border: none;
}

.card{
   --bs-card-bg: transparent;
   --bs-card-border-width: 3px;
   --bs-card-border-color: var(--international-orange);
   position: unset;
} 
.card2 .card{
   --bs-card-border-color: #0A96C1;
}

.overlap-group2{
   margin-top: 10em;
   margin-right: 2em;
   width: 37rem;
}

 
 
