@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900|Inter:400,900");

.about_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
}

.heading{
    position: relative;
}

.what-we-do{
    position: absolute;
    top: 132px ;
    white-space: nowrap;
    width: 471px;
    line-height: 93.1px;
    letter-spacing: 0;
    left: 99px;
    height: 77px;
    font-weight: 900;
    font-size:var(--font-size-x1);
    color: transparent;
    color: #000;
}

.we{
    color: var(--international-orange);
}

.what{
    color: rgba(0, 0, 0, 0.169);
    font-family: var(--font-family-inter);
    font-size: 250px;
    font-weight: 900;
    height: 300px;
    letter-spacing:0;
    line-height: 439.3px;
    white-space: nowrap;
    margin-left: -150px;
    margin-top: 200px;
    margin-bottom: 2em;
}


.about_description{
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m1);
    font-weight: 400;
    letter-spacing: 2.4px;
    line-height: 34.9px;
    min-height: 720px;
    width: 762px;
    margin-right: 20px;
}


.courses_grid{
    display: flex;
    flex-wrap: wrap;
}

.plot{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.category_logo{
    margin-bottom: 20px;
}



