.admin{
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 90vh;
}

.admin_profile{
    background-color: rgb(207, 202, 202);
    margin-top: 10pc;
    width: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-left: 10pc;
}
.admin_profile img{
    width: 100px;
}
.admin_profile li{
    text-decoration: none;
}

.admin_profile button{
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;

}

.admin_activity{
    background-color: rgb(207, 202, 202);
    margin-top: 250px;
    width: 400px;
    height: 30vh;
    padding: 20px;
    border-radius: 20px;
    margin-right: 30pc;
}

.admin_activity button{
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
}
.user_div a{
    text-decoration: none;
    margin-left: 10pc;

}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  /* label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  } */
  
  input {
    padding: 0.3rem;
    /* font-size: 1rem; */
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
  
  button[type='submit'] {
    background-color: orangered;
    color: white;
    padding: 0.5rem 1rem;}
   
  