body{
    background-color: beige;

}
.admin{
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 90vh;
}

.admin_profile{
    background-color: rgb(207, 202, 202);
    margin-top: 10pc;
    width: 300px;
    height: 50vh;
    padding: 20px;
    border-radius: 20px;
    margin-left: 10pc;
}
.admin_profile img{
    width: 100px;
}
.admin_profile li{
    text-decoration: none;
}

.admin_profile button{
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;

}

.admin_activity{
    background-color: rgb(207, 202, 202);
    margin-top: 250px;
    width: 400px;
    height: 30vh;
    padding: 20px;
    border-radius: 20px;
    margin-right: 30pc;
}

.admin_activity button{
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
}
a{
    text-decoration: none;
    margin-left: 10pc;

}