.overlap-group1{
    align-items: flex-start;
    background-size: 100% 100%;
    justify-content: center;
    align-content: center;
    padding: 40.8px 26.8px;
    display: flex;
    flex-direction: column;
    min-height:400px;
    top: 771px;
    width: 424px;
    margin-left: 4rem;
    margin-bottom: 0;
    margin-top: 2.5em;
    border-radius: 10px;
  }
  
  
  .highlights{
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    min-height: 90px;
    width: 317px;
    margin-bottom: 0;

  }
  
  
  .highlight_content{
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 0.8em;
    min-height: 8.313rem; /*133px;*/
    width: 23.375rem;/*374px;*/
  }
  
  .overlap-group-1{
    background-color: var(--international-orange);
    padding: 5px 15px;
    margin: 0;   
  }